$fonts: Arial, sans-serif;
$font-color: #fff;
body {
  background-color: #FFF;
  font: $fonts
}

#header {
	height: 40px;
}

@import 'navbar';

.main {
	margin: 0;

}
$marq-color: #fff;
#marquee-1{
	padding-top: 3%;
	padding-left: 4%;
	height: 250px;
	padding-bottom: 5%;
	background-color: #3e4149;
	color: $marq-color;

}

#marquee-2{
	width: 45%;
	/*margin-left: 0px;*/
	padding-top: 20px;
	padding-left: 20px;
	float: left;
	height: 350px;
	background-image: url("../apt1.jpg");
	background-repeat: no-repeat;
	color: $marq-color;
}
#marquee-3 {
	width: 43%;
	margin-left: 10%;
	padding-top: 20px;
	float: left;
	height: 350px;
	background-image: url("../cacti.jpg");
	padding-bottom: 10%;
	background-repeat: no-repeat;
	color: slategrey;
	p {
	width: 70%;

}

#footer {
	height: 150px;
	background-color:red;
	margin-bottom: -20%;
	clear: both;
	color: #fff;
	p   {
	width: 40%;
	margin: 50px auto;
	padding: 60px; }
}
.button	{	
	background-color: #3498DB;
	color: #fff;
	display: inline-block;
	padding: 15px 30px;
	padding-bottom: 5px;
	margin-left: 5%;
	width: auto;
	height: 30px;
	border-radius: 10px;
	text-decoration: none;
	a {
	color: #fff;
	text-decoration: none; }
	}
#m3btn {
	margin: 9px 200px;
	width: 200px;
}